/* Global Styles */
:root {
  --primary-color: {{ settings.primary_color }};
  --secondary-color: {{ settings.secondary_color }};
  --accent-color: {{ settings.accent_color }};
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color); /* Set a default body color */
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  color: #0b0f0e;
}

/* Links */
a {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}

/* Custom Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}