.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  .hamburger-menu {
    padding: 30px;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 1px solid $dark-color;
    cursor: pointer;
  }
  .header-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 14px 0px 14px 15px;
    border-left: 1px solid $dark-color;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-size: 25px;
      color: $dark-color;
      &.cart-icon {
        position: relative;
        .cart-count {
          position: absolute;
          font-family: $body-font;
          font-size: 12px;
          line-height: 12px;
          position: absolute;
          top: 0;
          right: 0;
          padding: 3px 5px;
          background-color: $primary-color;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white-color;
        }
      }
    }
  }
}

.main-nav-menu {
  position: fixed;
  top: 0;
  left: -100%; /* Hidden initially */
  width: 300px;
  height: 100%;
  background-color: $primary-color;
  transition: left 0.4s ease;
  z-index: 9999;
  padding: 20px;
  &.active {
    left: 0; /* Slide in when active */
  }
  ul {
    list-style: none;
    margin-top: 50px;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
      a {
        font-family: $heading-font;
        font-size: calc(24 / 16) * 1rem;
        line-height: 1.2;
        color: $white-color;
        &:hover {
          color: $light-color;
        }
      }
    }
  }
  .close-menu {
    background-color: $white-color;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: $dark-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 0px;
    box-shadow: none;
    cursor: pointer;
  }
}
