// Colors
$primary-color: #756ab6;
$secondary-color: #ac87c5;
$accent-color: #e0aed0;
$light-color: #ffe5e5;
$dark-color: #0b0f0e;
$medium-dark-color: #1d2322;
$medium-color: #313736;
$light-gray-color: #e4e9ee;
$lighter-gray-color: #f0f3f6;
$lightest-gray-color: #f8f9fc;
$red: #e04124;
$red-lighter: #ef907f;
$red-lightest: #f9bcb1;
$white-color: #ffffff;

// Fonts
$heading-font: 'Roboto Condensed', sans-serif;
$body-font: 'Poppins', sans-serif;

// Font Sizes
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
